{% extends 'base.html' %}
{% block title %}Book room {{ room.number }} · HotelBooking{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div>
    <div class="card-modern">
      <h2 class="h1-modern">Book Room {{ room.number }} <small class="text-muted-soft">· {{ room.name }}</small></h2>

      {% if error %}
        <div class="alert alert-danger mt-2">{{ error }}</div>
      {% endif %}

      <form method="post" class="mt-3">
        {% csrf_token %}

        <div class="row g-2">
          <div class="col-md-6 mb-3">
            <label class="form-label text-muted-soft">Start</label>
            <div class="input-icon">
              <i class="bi bi-calendar icon"></i>
              <input data-range-start type="text" data-room-id="{{ room.id }}" name="start_date" class="form-control-modern date-input" placeholder="Select start date" required>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label text-muted-soft">End</label>
            <div class="input-icon">
              <i class="bi bi-calendar-check icon"></i>
              <input data-range-end type="text" data-room-id="{{ room.id }}" name="end_date" class="form-control-modern date-input" placeholder="Select end date" required>
            </div>
          </div>
        </div>

        <div class="mb-3">
            <label class="form-label text-muted-soft">Guests</label>
            <select name="guests" class="form-control-modern">
            {% for i in guests_range %}
                <option value="{{ i }}">{{ i }} guest{{ i|pluralize }}</option>
            {% endfor %}
            </select>
            <div class="form-note">We will try to allocate best room configuration.</div>

        </div>

        <button class="btn btn-primary custom w-100" type="submit">Reserve — €{{ room.price_per_night }}/night</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
