{% extends 'bookings/base.html' %}

{% block content %}
<h2>Book Room {{ room.number }} {{ room.name }}</h2>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label>Start Date</label>
        <input type="date" name="start_date" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>End Date</label>
        <input type="date" name="end_date" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Book</button>
</form>
{% endblock %}
